@using Middle
@{
    ViewData["Title"] = "Home Page";
    var animals = new[] { "duck", "cat", "unknown" };
    //var guid = Guid.NewGuid();
}



<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var name in animals)
{
    var animal = AnimalFactory.GetAnimal(name);
    <h6>@($"{animal.GetName()} says: {animal.MakeSound()}")</h6>
}
